{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang/SQL WeatherData Example</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang/SQL WeatherData Example</h1>   
{{ end }}

