{{ define "Menu" }}
<a href="/">HOME</a> | 

<a href="/WeatherList">All Weather Data Json</a> |

<a href="/WeatherUI">All Weather Data UI</a> |

<a href="/Show">Filtered Weather Data</a> |

<a href="/WeatherUINew">Add New Weather Data </a> |

<a href="/CountryList">List Of Countries </a> 

{{ end }}